/* .App {
  text-align: center;
} */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: #f4f1de;
  font-family: 'Poppins', sans-serif;  
  color: #3d405b;
  margin: 1rem;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background-color: #e07a5f;
  padding: 10px 15px;
  border-radius: 10px;
  color: #f4f1de;
  font-size: medium;
}

.city-input, .number-input{
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: #81b29a solid 1.5px;
  padding: 5px 10px;
  font-family: inherit;
  background-color: #f4f1de;
  color: #3d405b;
  font-size: medium;
}
.city-input::placeholder{
  color: #3d405b;
}

.city-input:focus, .number-input:focus {
   border: none;
   border-bottom: #e07a5f solid 1.5px;
   transition: all 0.2s ease-in-out;
}

#city-search, #number-of-events{
  position: relative;
  text-align: center;
}

.suggestions {
  position: absolute;
  margin: 5px auto;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 15px;
  background-color: #81b29a;
  max-width: 25rem;
  color: #f4f1de;
  border-radius: 10px;
}

#event-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;

}

#list-item {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0 2rem;
}

#details{
  position: absolute;
  z-index: 3;
  background-color: #81b29a;
  color: #f4f1de;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 1rem;
  padding: 10px 15px;
}
