/* .App {
  text-align: center;
} */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color: #f4f1de;
  font-family: 'Poppins', sans-serif;  
  color: #3d405b;
  margin: 1rem;
}

li {
  list-style-type: none;
}

.details-btn {
  background-color: #f4f1de;
  border: #e07a5f solid 2px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #3d405b;
  font-size: medium;
  cursor: pointer;
}

.details-btn:hover {
  background-color: #e07a5f;
  border: #e07a5f solid 2px;
  padding: 10px 15px;
  border-radius: 10px;
  color: #f4f1de;
  font-size: medium;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.city, .number-input{
  margin-top: 10px;
  outline: none;
  border: none;
  border-bottom: #81b29a solid 1.5px;
  padding: 5px 10px;
  font-family: inherit;
  background-color: #f4f1de;
  color: #3d405b;
  font-size: medium;

}
.city::placeholder{
  color: #3d405b;
}

.number-lable {
  border-bottom: #81b29a solid 1.5px;
  padding-bottom: 5.5px;
  margin-right: 1rem;
}

#city-search, #number-input{
  position: relative;
  text-align: center;
}

.suggestions {
  position: absolute;
  margin: 5px auto;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 15px;
  background-color: #81b29a;
  max-width: 25rem;
  color: #f4f1de;
  border-radius: 10px;
  cursor: pointer;
}

#event-list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

#list-item {
  position: relative;
  text-align: center;
  padding-bottom: 2rem;
  margin: 0 2rem;
}

#details{
  position: absolute;
  z-index: 3;
  background-color: #f4f1de;
  border: #81b29a 2px solid;
  color: #3d405b;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 1rem;
  padding: 10px 15px;
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr
}

@media (max-width: 768px) {
  .charts-container {
    display: grid;
    grid-template-columns: 1fr
  }
  #event-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 460px) {
  #event-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }
}




